.mapa {
  position: static !important;
}

::ng-deep .map-container {
  position: static !important;
  height: 100% !important;
  width: 100% !important;
}

::ng-deep .gm-control-active
{
  display: none !important;
}

::ng-depp .gm-svpc
{
  display: none !important;
}