<video autoplay muted loop preload="auto" playsinline id="bg-video">
  <source src="/public/bg.webm" type="video/webm" />
</video>

<div class="home-container">
    <h1>Welcome to PadelVerse</h1>
    <p>Book your court and elevate your game.</p>

    <div class="button-group">
        <button mat-raised-button color="primary" routerLink="/login">
            Login
        </button>

        <button mat-stroked-button color="accent" routerLink="/complex">
            Explore
        </button>
    </div>
</div>