.complex-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 auto;
}

.sort {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.panel {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.box {
    display: flex;
    margin-top: 50px;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}