<!-- <h2 mat-dialog-title>Hi {{data.name}}</h2> -->
<mat-dialog-content>
    <h3>Let's create your complex?</h3>
    <mat-form-field>
        <mat-label>Complex Name</mat-label>
        <input matInput [(ngModel)]="name" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Open Time:</mat-label>
        <input matInput type="time" id="openTime" name="openTime" [(ngModel)]="open_time" required step="1" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Close Time:</mat-label>
        <input matInput type="time" id="closeTime" name="closeTime" [(ngModel)]="close_time" required step="1" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="location" />
    </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
    <!-- <button matButton (click)="onNoClick()">No Thanks</button>-->
    <button matButton (click)="addComplex()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>