<p>login works!</p>
<div class="form-container">
    <form (ngSubmit)="onSubmit()" class="form-container">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Email" />
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput [type]="hide() ? 'password' : 'text'" />
            <button
            matIconButton
            matSuffix
            (click)="clickEvent($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
            >
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">
            Prijavi se
        </button>
    </form>
</div>
