<!-- <div style="padding: 2rem"> -->

<div>
  <h1 style="text-align:center; margin-bottom: 2rem;">Complex Management</h1>
  <div class="bar">
    @if (globalStats$ | async; as global) {
    <p>Total Complex: <span>{{global.noOfComplex}}</span></p>
    <p>Total Courts: <span>{{global.noOfCourts}}</span></p>
    <p>Total Amount: <span>{{global.totalAmount}}$</span></p>
    <p>Total Terms: <span>{{global.noOfTerms}}</span></p>
    }
    @else {
    <h3>Stats are unrachable</h3>
    }
  </div>

  <div style="display: flex; justify-content: space-between;">
    <div>
      <div class="complex-list">
        @for (complex of myComplex$ | async; track complex.id) {
        <div class="complex" (click)=selectComplex(complex.id)>
          <img src="https://picsum.photos/300/200">
          <h3>{{complex.name}}</h3>
          <div class="actions">
            <mat-icon (click)="openDialogEditComplex(complex.id)">edit icon</mat-icon>
            <mat-icon>delete outline icon</mat-icon>
            <mat-icon (click)="openDialogAddCourt(complex.id)">sports_tennis</mat-icon>
          </div>
        </div>

        }
        @empty {
        <h2>No complex found</h2>
        }
      </div>
      <button (click)=openDialogAddComplex()>Add Complex</button>
    </div>

    <div class="stats">
      @if (stats$ | async; as stats)
      {
      <div class="stats-header">
        <h3>
          Count: {{
          selectedStats === 'monthly'
          ? stats.month.totalCount
          : stats.week.totalCount
          }}
        </h3>
        <h3>
          Amount: {{
          selectedStats === 'monthly'
          ? stats.month.totalAmount
          : stats.week.totalAmount
          }}
        </h3>

        @if(selectedStats==="weekly")
        {
        <h3>Today Count : {{stats.week.todayCount}}</h3>
        <h3>Today Amount : {{stats.week.todayAmount}}$</h3>
        }

        <mat-select [(value)]="selectedStats">
          <mat-option value="monthly">Monthly Stats</mat-option>
          <mat-option value="weekly">Weekly Stats</mat-option>
        </mat-select>
      </div>

      @if (selectedStats==="monthly" && stats.month.user.count != 0) {
      <div class="charts">
        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="stats.month.amountPerWeek"
          [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels"
          [doughnut]="isDoughnut">
          >
        </ngx-charts-pie-chart>

        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="stats.month.courtsCount"
          [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels"
          [doughnut]="isDoughnut">
          >
        </ngx-charts-pie-chart>


        <div class="profile">
          <h2>Top Player:</h2>
          <img src="http://localhost:3000/{{stats.month.user.topUser.photo}}" alt="profile photo">
          <div>
            <h4>First Name: {{stats.month.user.topUser.first_name}}</h4>
            <h4>Last Name: {{stats.month.user.topUser.last_name}}</h4>
            <h4>Email: {{stats.month.user.topUser.email}}</h4>
            <h4>Terms: {{stats.month.user.count}}</h4>
          </div>
        </div>
      </div>
      }
      @else if(selectedStats==="weekly")
      {
      <div class="charts">

        <ngx-charts-pie-chart [view]="view" [scheme]="colorScheme" [results]="stats.month.courtsCount"
          [gradient]="gradient" [legend]="showLegend" [legendPosition]="legendPosition" [labels]="showLabels"
          [doughnut]="isDoughnut">
          >
        </ngx-charts-pie-chart>
      </div>
      }
      @else
      {
      <h3>No valuable info &#58;&#40;</h3>
      }
      }
      @else
      {
      <h3>Select complex</h3>
      }
    </div>
  </div>

</div>

<!-- [legendPosition]="legendPosition"

(select)="onSelect($event)"
(activate)="onActivate($event)"
      (deactivate)="onDeactivate($event)"
      
      -->