<div class="container" style="padding: 2rem; max-width: 1400px; margin: auto;">

  <h1 style="text-align:center; margin-bottom: 2rem;">Complex Management</h1>
  <div class="bar">
    @if (globalStats$ | async; as global) {
    <p>Total Complex:{{global.noOfComplex}}</p>
    <p>Total Courts: {{global.noOfCourts}}</p>
    <p>Total Amount: {{global.totalAmount}}$</p>
    <p>Total Terms: {{global.noOfTerms}}</p>
    }
    @else {
    <h3>Stats are unrachable</h3>
    }
  </div>

  <div class="complex-list">
    @for (complex of myComplex$ | async; track complex.id) {

    <div class="complex" (click)=selectComplex(complex.id)>
      <img src="https://picsum.photos/300/200">
      <h3>{{complex.name}}</h3>
      <div class="actions">
        <h2 id="edit" (click)="openDialogAddCourt(complex.id)">🖋</h2>
        <h2 id="delete">🗑</h2>
      </div>
    </div>

    }
    @empty {
    <h2>No complex found</h2>
    }
  </div>
  <button (click)=openDialogAddComplex()>Add Complex</button>

</div>