<mat-tab-group>
  <mat-tab label="Overview">
    <div class="profile"> 
      
        <div [hidden]="editMode">

            <div class="profile-header">
              <img src="https://plus.unsplash.com/premium_photo-1689568126014-06fea9d5d341?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8cHJvZmlsZXxlbnwwfHwwfHx8MA%3D%3D" alt="profile-photo" />
              <p>Momcilo Marjanovic</p>
            </div>
            
            <div>
              <p>About: </p>
              <div class="info-row">
                <mat-icon>phone</mat-icon>
              <span>Phone:</span>
              <p>+381648568734</p>
            </div>
            <div class="info-row">
              <mat-icon>email</mat-icon>
                <span>Email:</span>
                <p>momcilo@momcilo.rs</p>
              </div>
            <div class="info-row">
                <mat-icon>home</mat-icon>
                <span>Address:</span>
                <p>Nis, Serbia</p>
            </div>
            <button mat-button (click)="editMode = true">Edit</button>
            
          </div>
        </div>

        <div style="display: flex; align-items:flex-start; justify-content: space-evenly;">
          <form (ngSubmit)="saveProfile()" [formGroup]="form"
            [ngStyle]="{
              display: editMode ? 'flex' : 'none',
              flexDirection: 'column',
              maxWidth: '350px'
            }">

            <div class="form-row form-image">
              <img [src]="form.get('photo')?.value ? form.get('photo')?.value : ''" alt="Profile Photo" class="profile-photo" (click)="fileInput.click()">
              <input type="file" #fileInput style="display: none" (change)="onFileSelected()">
            </div>


            <div class="form-row">
              <mat-icon>person</mat-icon>
              <span>Name:</span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Name" name="name" formControlName="name">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-icon>phone</mat-icon>
              <span>Phone:</span>
              <mat-form-field appearance="outline">
                <input matInput matInput placeholder="Phone" name="phone" formControlName="phone">
              </mat-form-field>
            </div>

            <div class="form-row">
              <mat-icon>email</mat-icon>
              <span>Email:</span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Email" name="email" formControlName="email" >
              </mat-form-field>
            </div>

            <!-- <div class="form-row">
              <mat-icon>home</mat-icon>
              <span>Address:</span>
              <mat-form-field appearance="outline">
                <input matInput placeholder="Address" name="address">
              </mat-form-field>
            </div> -->

            <div class="actions">
              <button mat-button color="primary" type="submit">Save</button>
              <button mat-button type="button" (click)="editMode = false">Cancel</button>
            </div>
          </form>

          <form (ngSubmit)="updatePassword()" [formGroup]="formPassword"
            [ngStyle]="{
              display: editMode ? 'flex' : 'none',
              flexDirection: 'column',
              maxWidth: '350px'
            }">

              <div class="form-row">
                <mat-icon>password</mat-icon>
                <span>Password:</span>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Password" name="password" formControlName="password" type="password">
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-icon>password</mat-icon>
                <span>Password:</span>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="New Password" name="newPassword" formControlName="newPassword" type="password">
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-icon>password</mat-icon>
                <span>Password:</span>
                <mat-form-field appearance="outline">
                  <input matInput placeholder="Confirm New Password" name="confirmPassword" formControlName="confirmPassword" type="password">
                </mat-form-field>
              </div>

              <div class="actions">
                <button mat-button color="primary" type="submit">Change Password</button>
            </div>
          </form>

          <button (click)="editMode= false" [ngStyle]="{display: editMode ? 'block' : 'none'}">X</button>
        </div>

      </div>
  </mat-tab>

  <mat-tab label="Complex">
    <p>Sadržaj druge tab-a</p>
  </mat-tab>

  <mat-tab label="Tours">
    <p>Sadržaj treće tab-a</p>
  </mat-tab>

  <mat-tab label="Player  ">
    <p>Sadržaj treće tab-a</p>
  </mat-tab>
</mat-tab-group>
